@font-face {
  font-family: noto-Regular;
  src: url(/fonts/Noto/NotoKufiArabic-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: noto-Regular;
}
/* navbar */
.navbar {
  background-color: #d5a461;
}
.nav-link {
  color: #fff;
}
.dropdown-item:hover {
  background-color: rgb(162, 188, 232);
  color: #104353;
}
.link-item:hover {
  background-color: #19657f;
  border-radius: 18px;
  color: #fff;
}
.navbar-togglers {
  border: none;
  outline: none;
  font-size: 22px;
  background: none;
  color: #fff;
}
/* section-header */
.section-header {
  background: url(/imgs/zawia2.png) no-repeat center right;
  background-size: cover;
}
.imgs-books {
  width: 34em;
  transform: translateY(6em);
}
.txt-books {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.sub-section-books {
  color: #fff;
}
.row-gathred-defs {
  display: flex;
  align-items: center;
}
.links-language {
  display: inline-block;
  background-color: #fff;
  color: black;
  padding: 0.3em 1.5em;
  border-radius: 16px;
  transform: translateY(8.7em);
  box-shadow: 0px 0px 7px 0px rgb(197, 196, 196);
}
.nav-item {
  list-style: none;
}
/* section-seraching-and-books */
.border-color-input {
  border: 1px solid #e1dede;
  border-radius: 12px;
  height: 3em;
  padding-right: 2.5em;
}
.border-color-input:focus {
  outline: 1px solid #144d60;
}
.col-all-input {
  display: flex;
  align-items: center;
}
.transform-icon {
  transform: translateX(-2em);
}
.part-sort-filter {
  display: flex;
  align-items: center;
  border: solid 1px #e1dede;
  background: none;
  color: rgb(142, 141, 141);
  border-radius: 12px;
}
.line-centering {
  width: 1px;
  height: 1.7em;
  background-color: #e1dede;
}
.sort-box {
  display: flex;
  align-items: center;
}
.txt-sort {
  padding-top: 0.7em;
}
.col-filter-boxs {
  display: flex;
  justify-content: flex-end;
}
.col-all-input {
  padding-right: 3em;
}
.col-filter-boxs {
  padding-left: 5.5em;
}
/* books */
.btn-defines {
  border: none;
  background-color: #d5a461;
  padding: 0.6em 3em;
  border-radius: 22px;
  color: #fff;
  width: 100%;
}
.row-section-boxs-books {
  display: flex;
  justify-content: space-evenly;
}
.texture-top {
  background: url(/imgs/Vectorh.png) no-repeat top center;
}
.tit-boxs {
  font-weight: bold;
  font-size: 18px;
}
.contetn-box-books {
  background-color: #f3f3f3;
  padding: 1em 0.5em;
  border-radius: 18px;
}
.name-books-section {
  font-size: 30px;
  font-weight: bold;
}
.part-img-books {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-books {
  width: 100%;
  padding: 0 0.5em;
}
.sub-txt-books {
  color: #4f4d4d;
}
.row-part-all {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* circl-box */
.scale {
  display: flex;
  justify-content: center;
}
.circl-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #e1dede;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.circl-box:hover {
  background-color: #d5a461;
  color: #fff;
}
.box-enter {
  padding-top: 1em;
}
/* footer */
.footer-one {
  background-color: #19657f;
}
.row-items-complete {
  display: flex;
  align-items: center;
  padding: 1em;
}
.col-links-logo-media {
  display: flex;
  justify-content: flex-end;
}
.end-footer-line {
  background-color: #144d60;
  color: rgb(204, 202, 202);
}
.color-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
